<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
   
  
    <add key="Input" value="..\Contracts\ChatContracts\bin\Debug\ChatContracts.dll" />
    <add key="Server" value="..\Server\ChatServer\Gen\" />
    <add key ="ServerNamespace" value ="ChatServer"/>
    
    <add key="Angular" value="..\Client\angular-seed\src\client\app\network\" />
	<!--
    <add key="ReactJs" value=".."/>
 -->

  </appSettings>
  
</configuration>
